html,body{
    margin : 0;
    padding :0;
    height: 100%;
}

nav{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: #0b88b6;
    text-align: right;
}

nav a{
    color : white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding : 0 15px 0 15px;
    line-height: 50px;
}

.container{
    width: 1140px;
    height: auto;
    margin-left:auto;
    margin-right: auto;
}

.banner img{
    width: 100%;
    height: auto;
}

.online{
    float:left;
    width: 380px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color:white;
    font-size: 1.3em;
}

.bg-blue1{
    background-color: #0694c9;
}

.bg-blue2{
    background-color: #0c88b7;
}

.float-clear{
    clear:both;
}

.left-img img{
    height: 275px;
    width:450px;
    float:left;
}

.content h2{
    font-weight: bold;
}

.content p{
    font-size:1.2em;
}

.about-us-card{
    float:left;
    width: 245px;
    padding:20px;
}

#kadromuz h2{
    text-align: center;
    font-size:1.5em;
    font-weight: bold;
}

.employees-card{
    float:left;
    text-align: center;
    width: 32%;
    height: auto;
}

#iletisim h2 {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: sans-serif;
}

#iletisim {
    text-align: center;
}

#iletisim .form input,textarea{
    border : 1px solid turquoise;
    margin-top: 5px;
    width: 400px;
}

#iletisim .form button{
    width: 400px;
    margin-top:5px;
    color:white;
    height: 30px;
}

#iletisim .form{
    width: 40%;
    float:left;
}

#ietisim .harita{
    width: 60%;
}

footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}